.input-container {
    margin-bottom: 10px;
}

input[type="number"], select {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #2a16ae;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2a16ae;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}